name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # full version coverage on Linux (fastest/cheapest)
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: "3.11"
          - os: ubuntu-latest
            python-version: "3.12"
          - os: ubuntu-latest
            python-version: "3.13"
          # minimum version on other platforms
          - os: macos-latest
            python-version: "3.10"
          - os: windows-latest
            python-version: "3.10"

    steps:
    - uses: actions/checkout@v4

    - uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}

    - shell: bash
      run: |
        make setup

    - shell: bash
      run: |
        make lint

    - shell: bash
      run: |
        make test

    - name: Install from dist
      shell: bash
      run: |
        make build
        uv pip install dist/osam-*.whl
